#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.info {
  margin-bottom: 10px;
}

.boarder-size {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.game {
  display: flex;
  flex-direction: row;
}
